@import url("https://use.typekit.net/rsw3bla.css");
@import url('http://fonts.cdnfonts.com/css/saira');
:root{
    --base-color:#333;
}
body{    
    background-color: var(--base-color);
    color:white;
    font-family: rubik, sans-serif;
}
p{
    font-family: 'Saira', sans-serif;
}