@import url("https://use.typekit.net/rsw3bla.css");
@import url("http://fonts.cdnfonts.com/css/saira");
.info__slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.purple__slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.yellow__slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.orange__slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.red__slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.green__slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.blue__slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.testimonial__slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.info__toggle {
  opacity: 0.2;
  display: inline;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  z-index: 3;
  min-width: 35px;
  min-height: 35px;
  background-color: #1a1a1a;
  border-radius: 17.5px;
  border: 2px solid rgba(200, 200, 200, 0.5);
}
@media screen and (max-width: 1600px) {
  .info__toggle {
    opacity: 1;
  }
}
@media screen and (max-width: 1200px) {
  .info__toggle {
    opacity: 0.2;
  }
}
@media screen and (max-width: 960px) {
  .info__toggle {
    opacity: 1;
  }
}
.info__toggle:hover, .info__toggle:focus, .info__toggle:active {
  opacity: 1;
}
.info__toggle--previous {
  margin-right: -35px;
}
.info__toggle--previous:before {
  color: rgba(200, 200, 200, 0.5);
  content: "<";
}
.info__toggle--next {
  margin-left: -35px;
}
.info__toggle--next:before {
  color: rgba(200, 200, 200, 0.5);
  content: ">";
}

.purple__toggle {
  opacity: 0.2;
  display: inline;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  z-index: 3;
  min-width: 35px;
  min-height: 35px;
  background-color: #1a1a1a;
  border-radius: 17.5px;
  border: 2px solid rgba(200, 200, 200, 0.5);
}
@media screen and (max-width: 1600px) {
  .purple__toggle {
    opacity: 1;
  }
}
@media screen and (max-width: 1200px) {
  .purple__toggle {
    opacity: 0.2;
  }
}
@media screen and (max-width: 960px) {
  .purple__toggle {
    opacity: 1;
  }
}
.purple__toggle:hover, .purple__toggle:focus, .purple__toggle:active {
  opacity: 1;
}
.purple__toggle--previous {
  margin-right: -35px;
}
.purple__toggle--previous:before {
  color: rgba(200, 200, 200, 0.5);
  content: "<";
}
.purple__toggle--next {
  margin-left: -35px;
}
.purple__toggle--next:before {
  color: rgba(200, 200, 200, 0.5);
  content: ">";
}

.yellow__toggle {
  opacity: 0.2;
  display: inline;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  z-index: 3;
  min-width: 35px;
  min-height: 35px;
  background-color: #1a1a1a;
  border-radius: 17.5px;
  border: 2px solid rgba(200, 200, 200, 0.5);
}
@media screen and (max-width: 1600px) {
  .yellow__toggle {
    opacity: 1;
  }
}
@media screen and (max-width: 1200px) {
  .yellow__toggle {
    opacity: 0.2;
  }
}
@media screen and (max-width: 960px) {
  .yellow__toggle {
    opacity: 1;
  }
}
.yellow__toggle:hover, .yellow__toggle:focus, .yellow__toggle:active {
  opacity: 1;
}
.yellow__toggle--previous {
  margin-right: -35px;
}
.yellow__toggle--previous:before {
  color: rgba(200, 200, 200, 0.5);
  content: "<";
}
.yellow__toggle--next {
  margin-left: -35px;
}
.yellow__toggle--next:before {
  color: rgba(200, 200, 200, 0.5);
  content: ">";
}

.orange__toggle {
  opacity: 0.2;
  display: inline;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  z-index: 3;
  min-width: 35px;
  min-height: 35px;
  background-color: #1a1a1a;
  border-radius: 17.5px;
  border: 2px solid rgba(200, 200, 200, 0.5);
}
@media screen and (max-width: 1600px) {
  .orange__toggle {
    opacity: 1;
  }
}
@media screen and (max-width: 1200px) {
  .orange__toggle {
    opacity: 0.2;
  }
}
@media screen and (max-width: 960px) {
  .orange__toggle {
    opacity: 1;
  }
}
.orange__toggle:hover, .orange__toggle:focus, .orange__toggle:active {
  opacity: 1;
}
.orange__toggle--previous {
  margin-right: -35px;
}
.orange__toggle--previous:before {
  color: rgba(200, 200, 200, 0.5);
  content: "<";
}
.orange__toggle--next {
  margin-left: -35px;
}
.orange__toggle--next:before {
  color: rgba(200, 200, 200, 0.5);
  content: ">";
}

.red__toggle {
  opacity: 0.2;
  display: inline;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  z-index: 3;
  min-width: 35px;
  min-height: 35px;
  background-color: #1a1a1a;
  border-radius: 17.5px;
  border: 2px solid rgba(200, 200, 200, 0.5);
}
@media screen and (max-width: 1600px) {
  .red__toggle {
    opacity: 1;
  }
}
@media screen and (max-width: 1200px) {
  .red__toggle {
    opacity: 0.2;
  }
}
@media screen and (max-width: 960px) {
  .red__toggle {
    opacity: 1;
  }
}
.red__toggle:hover, .red__toggle:focus, .red__toggle:active {
  opacity: 1;
}
.red__toggle--previous {
  margin-right: -35px;
}
.red__toggle--previous:before {
  color: rgba(200, 200, 200, 0.5);
  content: "<";
}
.red__toggle--next {
  margin-left: -35px;
}
.red__toggle--next:before {
  color: rgba(200, 200, 200, 0.5);
  content: ">";
}

.green__toggle {
  opacity: 0.2;
  display: inline;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  z-index: 3;
  min-width: 35px;
  min-height: 35px;
  background-color: #1a1a1a;
  border-radius: 17.5px;
  border: 2px solid rgba(200, 200, 200, 0.5);
}
@media screen and (max-width: 1600px) {
  .green__toggle {
    opacity: 1;
  }
}
@media screen and (max-width: 1200px) {
  .green__toggle {
    opacity: 0.2;
  }
}
@media screen and (max-width: 960px) {
  .green__toggle {
    opacity: 1;
  }
}
.green__toggle:hover, .green__toggle:focus, .green__toggle:active {
  opacity: 1;
}
.green__toggle--previous {
  margin-right: -35px;
}
.green__toggle--previous:before {
  color: rgba(200, 200, 200, 0.5);
  content: "<";
}
.green__toggle--next {
  margin-left: -35px;
}
.green__toggle--next:before {
  color: rgba(200, 200, 200, 0.5);
  content: ">";
}

.blue__toggle {
  opacity: 0.2;
  display: inline;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  z-index: 3;
  min-width: 35px;
  min-height: 35px;
  background-color: #1a1a1a;
  border-radius: 17.5px;
  border: 2px solid rgba(200, 200, 200, 0.5);
}
@media screen and (max-width: 1600px) {
  .blue__toggle {
    opacity: 1;
  }
}
@media screen and (max-width: 1200px) {
  .blue__toggle {
    opacity: 0.2;
  }
}
@media screen and (max-width: 960px) {
  .blue__toggle {
    opacity: 1;
  }
}
.blue__toggle:hover, .blue__toggle:focus, .blue__toggle:active {
  opacity: 1;
}
.blue__toggle--previous {
  margin-right: -35px;
}
.blue__toggle--previous:before {
  color: rgba(200, 200, 200, 0.5);
  content: "<";
}
.blue__toggle--next {
  margin-left: -35px;
}
.blue__toggle--next:before {
  color: rgba(200, 200, 200, 0.5);
  content: ">";
}

.testimonial__toggle {
  opacity: 0.2;
  display: inline;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  z-index: 3;
  min-width: 35px;
  min-height: 35px;
  background-color: #1a1a1a;
  border-radius: 17.5px;
  border: 2px solid rgba(200, 200, 200, 0.5);
}
@media screen and (max-width: 1600px) {
  .testimonial__toggle {
    opacity: 1;
  }
}
@media screen and (max-width: 1200px) {
  .testimonial__toggle {
    opacity: 0.2;
  }
}
@media screen and (max-width: 960px) {
  .testimonial__toggle {
    opacity: 1;
  }
}
.testimonial__toggle:hover, .testimonial__toggle:focus, .testimonial__toggle:active {
  opacity: 1;
}
.testimonial__toggle--previous {
  margin-right: -35px;
}
.testimonial__toggle--previous:before {
  color: rgba(200, 200, 200, 0.5);
  content: "<";
}
.testimonial__toggle--next {
  margin-left: -35px;
}
.testimonial__toggle--next:before {
  color: rgba(200, 200, 200, 0.5);
  content: ">";
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  overflow-x: hidden;
  margin: 0;
  color: white;
  background-color: #333;
  font-family: "Saira", sans-serif;
}

button {
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  cursor: pointer;
}

.banner__action {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  position: absolute;
  top: 150px;
  left: 16vw;
  width: 280px;
  height: 172px;
}
@media screen and (max-width: 1200px) {
  .banner__action {
    left: 7vw;
  }
}
@media screen and (max-width: 960px) {
  .banner__action {
    background-color: rgba(0, 0, 0, 0.5);
    left: calc(50vw - 140px);
  }
}
.banner__button {
  display: block;
  width: 100%;
  height: 63px;
  font-weight: bold;
  font-family: "Saira", sans-serif;
  text-transform: uppercase;
  border-radius: 10px;
}
.banner__button--big {
  font-size: 30px;
  color: white;
  background-color: #ff6801;
  border: 2px solid white;
}
.banner__button--big:hover, .banner__button--big:focus, .banner__button--big:active {
  border: none;
}
.banner__button--nobg {
  color: #ff6801;
  width: 172px;
  height: 38px;
  border: 2px solid #ff6801;
  font-size: 20px;
  font-weight: 400;
  text-align: center;
  line-height: 38px;
  font-family: rubik, sans-serif;
  background-color: transparent;
  border-radius: 10px;
}
.banner__button--nobg:hover, .banner__button--nobg:focus, .banner__button--nobg:active {
  color: white;
  background-color: #ff6801;
}
.banner__h1 {
  text-align: justify;
  -webkit-transform: scaleX(70%);
          transform: scaleX(70%);
  font-size: 45px;
  font-weight: bold;
  text-align: center;
  line-height: 45px;
  text-transform: uppercase;
  margin: 0 -55px;
}
.banner__h2 {
  padding-top: 20px;
  -webkit-transform: scaleX(70%);
          transform: scaleX(70%);
  font-size: 40px;
  margin: 0 -85px 0 0;
  line-height: 35px;
}
.banner__img {
  width: 100vw;
  height: 420px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: bottom;
     object-position: bottom;
}
.banner__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  position: absolute;
  top: 150px;
  right: 16vw;
}
@media screen and (max-width: 1200px) {
  .banner__info {
    right: 7vw;
  }
}
@media screen and (max-width: 960px) {
  .banner__info {
    visibility: hidden;
  }
}
.banner__p {
  font-family: rubik, sans-serif;
  font-size: 25px;
}
.banner__stretch {
  -webkit-transform: scaleX(70%);
          transform: scaleX(70%);
}

.features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  column: 2/4;
  -ms-grid-columns: 1fr 20px 1fr 20px 1fr 20px 1fr 20px 1fr;
  grid-template-columns: repeat(5, 1fr);
  grid-column-gap: 20px;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2/4;
  height: 100px;
}
@media screen and (max-width: 1200px) {
  .features {
    height: 400px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media screen and (max-width: 760px) {
  .features {
    margin: 20px 0 60px 0;
    height: 480px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}
.features__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100px;
  width: 300px;
}
@media screen and (max-width: 760px) {
  .features__box {
    margin: 3px 0;
    min-width: 70vw;
    border: 2px solid rgba(0, 0, 0, 0.3);
    border-radius: 10px;
  }
}
.features__span {
  width: 170px;
  min-height: 50px;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  width: 100%;
  padding: 30px 10vw 0 10vw;
  height: 427px;
  background-color: white;
  color: #1a1a1a;
}
@media screen and (max-width: 1200px) {
  .footer {
    padding: 30px 20px 0 20px;
  }
}
@media screen and (max-width: 960px) {
  .footer {
    padding: 30px 20px 0 20px;
    height: 800px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.footer__bank {
  max-height: 45px;
}
.footer__crypto {
  max-height: 41px;
}
.footer__container {
  width: 415px;
}
.footer__h4 {
  font-size: 20px;
  font-family: rubik, sans-serif;
  margin-bottom: 15px;
}
.footer__img {
  width: 45px;
}
.footer__li {
  list-style: none;
}
.footer__logo--instagram {
  margin: 0 -100px;
}
.footer__logo--twitter {
  margin: 0 -20px;
}
.footer__p {
  font-family: rubik, sans-serif;
}
.footer__sponsor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  height: 55px;
}
.footer__sponsor--last {
  padding: 0 80px;
}
.footer__sponsors {
  max-width: 300px;
}
.footer__trusted {
  max-width: 210px;
}
.games {
  margin: 30px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  font-family: rubik, sans-serif;
  text-transform: uppercase;
  background-color: #1a1a1a;
  height: 1430px;
  padding: 40px 16px 60px 16px;
  border-radius: 10px;
}
.games--casino {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
}
@media screen and (max-width: 1200px) {
  .games--casino {
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
    grid-column: 2/4;
  }
}
@media screen and (max-width: 480px) {
  .games--casino {
    -ms-grid-column: 1;
    -ms-grid-column-span: 4;
    grid-column: 1/5;
  }
}
.games--poker {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
}
@media screen and (max-width: 1200px) {
  .games--poker {
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
    grid-column: 2/4;
  }
}
@media screen and (max-width: 480px) {
  .games--poker {
    -ms-grid-column: 1;
    -ms-grid-column-span: 4;
    grid-column: 1/5;
  }
}
.games__button {
  width: 185px;
  height: 44px;
  background-color: transparent;
  border-radius: 10px;
  font-size: 1.1em;
  font-weight: 400;
  text-align: center;
  line-height: 45px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-family: rubik, sans-serif;
  text-transform: uppercase;
  color: white;
}
.games__button--black:hover, .games__button--black:focus, .games__button--black:active {
  color: black;
}
.games__button--purple {
  border: 2px solid #6a37e5;
}
.games__button--purple:hover, .games__button--purple:focus, .games__button--purple:active {
  background-color: #6a37e5;
}
.games__button--yellow {
  border: 2px solid #effd5e;
}
.games__button--yellow:hover, .games__button--yellow:focus, .games__button--yellow:active {
  background-color: #effd5e;
}
.games__button--orange {
  border: 2px solid #e0773e;
}
.games__button--orange:hover, .games__button--orange:focus, .games__button--orange:active {
  background-color: #e0773e;
}
.games__button--red {
  border: 2px solid #c82f2e;
}
.games__button--red:hover, .games__button--red:focus, .games__button--red:active {
  background-color: #c82f2e;
}
.games__button--green {
  border: 2px solid #6ee3a5;
}
.games__button--green:hover, .games__button--green:focus, .games__button--green:active {
  background-color: #6ee3a5;
}
.games__button--blue {
  border: 2px solid #0d49f5;
}
.games__button--blue:hover, .games__button--blue:focus, .games__button--blue:active {
  background-color: #0d49f5;
}
.games__card {
  min-height: 248px;
  min-width: 226px;
  max-height: 248px;
  max-width: 226px;
  overflow: hidden;
  border-radius: 10px;
  margin: 0 4px;
}
.games__card--purple {
  background-color: #6a37e5;
}
.games__card--yellow {
  background-color: #effd5e;
}
.games__card--orange {
  background-color: #e0773e;
}
.games__card--red {
  background-color: #c82f2e;
}
.games__card--green {
  background-color: #6ee3a5;
}
.games__card--blue {
  background-color: #0d49f5;
}
.games__cards {
  max-width: 700px;
  overflow-x: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  margin-top: -20px;
}
@media screen and (max-width: 760px) {
  .games__cards {
    max-width: 230px;
  }
}
.games__cards--cutted {
  height: 230px;
  overflow: hidden;
}
.games__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  height: 387px;
}
.games__container--black {
  color: #1a1a1a;
}
.games__description {
  font-size: 22px;
  font-weight: 400;
  text-align: center;
  line-height: 1.5;
  padding: 0;
  color: #ff6801;
  margin: 0;
}
.games__h1 {
  font-size: 50px;
  font-weight: bold;
  text-align: center;
  line-height: 40px;
  font-family: "Saira", sans-serif;
  -webkit-transform: scaleX(70%);
          transform: scaleX(70%);
  height: 40px;
  margin: 0 0 15px 0;
  padding: 0;
}
.games__h3 {
  border-radius: 10px;
  border: 1px solid white;
  height: 44px;
  margin: 0 1.1vw;
  font-size: 20px;
  font-weight: 400;
  text-align: center;
  line-height: 45px;
}
@media screen and (max-width: 480px) {
  .games__h3 {
    margin: 0 0;
  }
}
.games__h3--purple {
  background-color: #6a37e5;
}
.games__h3--yellow {
  background-color: #effd5e;
}
.games__h3--orange {
  background-color: #e0773e;
}
.games__h3--red {
  background-color: #c82f2e;
}
.games__h3--green {
  background-color: #6ee3a5;
}
.games__h3--blue {
  background-color: #0d49f5;
}
.games__img {
  max-height: 165px;
  min-width: 226px;
  -o-object-position: center;
     object-position: center;
  -o-object-fit: cover;
     object-fit: cover;
}
.games__span {
  display: block;
  text-align: center;
  line-height: 75px;
  min-width: 226px;
  min-height: 86px;
}
.games__title {
  display: block;
  padding: 0;
  margin: 0;
}

.header {
  width: 100vw;
  z-index: 5;
  color: white;
  padding: 0 10vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  position: fixed;
  top: 0;
  height: 105px;
  -webkit-box-shadow: 0 8px 20px -6px black;
          box-shadow: 0 8px 20px -6px black;
  background-color: #333;
}
@media screen and (max-width: 1200px) {
  .header {
    padding: 0 3vw;
    height: 10vw;
  }
}
@media screen and (max-width: 1200px) {
  .header {
    padding: 0 5vw;
  }
}
.header__anchor {
  font-size: 20px;
  -webkit-transform: scaleX(70%);
          transform: scaleX(70%);
  text-transform: uppercase;
}
@media screen and (max-width: 1200px) {
  .header__anchor {
    font-size: 2vw;
  }
}
@media screen and (max-width: 960px) {
  .header__anchor {
    font-size: 2.5vw;
  }
}
.header__button {
  font-family: "Saira", sans-serif;
  font-weight: bold;
  border: none;
  height: 38px;
  background-color: #ff6801;
}
@media screen and (max-width: 1200px) {
  .header__button {
    height: 3vw;
  }
}
@media screen and (max-width: 1200px) {
  .header__button {
    height: 5vw;
  }
}
.header__button--join {
  width: 86px;
  border-radius: 38px;
  color: white;
}
.header__button--join:hover, .header__button--join:focus, .header__button--join:active {
  border: 2px solid white;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
@media screen and (max-width: 1200px) {
  .header__button--join {
    width: 10vw;
    border-radius: 2.5vw;
  }
}
.header__button--login {
  color: #ff6801;
  background-color: transparent;
  width: 58px;
}
.header__button--login:hover, .header__button--login:focus, .header__button--login:active {
  color: white;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
.header__container {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__img {
  margin-top: -10px;
  width: 161px;
}
@media screen and (max-width: 1200px) {
  .header__img {
    width: 15vw;
  }
}
.header__li {
  list-style: none;
}
.header__link {
  font-size: 20px;
  font-weight: bold;
  text-align: left;
  line-height: 1.5;
  color: white;
  text-decoration: none;
  font-family: "Saira", sans-serif;
  margin: 0;
  -webkit-transform: scaleX(70%);
          transform: scaleX(70%);
}
.header__pointer {
  -webkit-transform: scaleX(70%);
          transform: scaleX(70%);
  text-transform: uppercase;
}
@media screen and (max-width: 1200px) {
  .header__pointer {
    font-size: 1.5vw;
  }
}
.header__pointer:hover, .header__pointer:focus, .header__pointer:active {
  color: #ff6801;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
.header__ul {
  width: 623px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
}
@media screen and (max-width: 1200px) {
  .header__ul {
    width: 50vw;
  }
}
@media screen and (max-width: 960px) {
  .header__ul {
    visibility: hidden;
  }
}

.info {
  margin-left: 1.5vw;
  margin-top: 450px;
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}
@media screen and (max-width: 1600px) {
  .info {
    margin-left: -7vw;
  }
}
@media screen and (max-width: 1200px) {
  .info {
    margin-left: -3vw;
  }
}
@media screen and (max-width: 960px) {
  .info {
    margin-left: 10vw;
  }
}
@media screen and (max-width: 760px) {
  .info {
    margin-left: 10vw;
  }
}
.info__button {
  width: 161px;
  height: 36px;
  border-radius: 5px;
  background-color: transparent;
  border: 2px solid white;
  color: white;
  text-transform: uppercase;
}
.info__button:hover, .info__button:focus, .info__button:active {
  color: white;
  background-color: #ff6801;
  border: none;
}
.info__containers {
  overflow-x: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 76vw;
}
@media screen and (max-width: 1600px) {
  .info__containers {
    width: 1155px;
  }
}
@media screen and (max-width: 1200px) {
  .info__containers {
    width: 870px;
  }
}
@media screen and (max-width: 960px) {
  .info__containers {
    width: 580px;
  }
}
@media screen and (max-width: 760px) {
  .info__containers {
    width: 290px;
  }
}
.info__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 10px;
  padding: 30px;
  background-color: #1a1a1a;
  min-width: 280px;
  height: 169px;
  margin: 0 5px;
}
.info__h4 {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  line-height: 30px;
  text-transform: uppercase;
  -webkit-transform: scaleX(70%);
          transform: scaleX(70%);
}

.main {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: calc(10% - 20px) 20px calc(40% - 20px) 20px calc(40% - 20px) 20px calc(10% - 20px);
  grid-template-columns: calc(10% - 20px) calc(40% - 20px) calc(40% - 20px) calc(10% - 20px);
  grid-column-gap: 20px;
}
@media screen and (max-width: 960px) {
  .main {
    -ms-grid-columns: calc(1% - 20px) calc(49% - 20px) calc(49% - 20px) calc(1% - 20px);
    grid-template-columns: calc(1% - 20px) calc(49% - 20px) calc(49% - 20px) calc(1% - 20px);
  }
}

.ribbon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 81px;
  padding: 0 225px;
  background-color: #ff6801;
}
@media screen and (max-width: 960px) {
  .ribbon {
    padding: 0 10px;
  }
}
.ribbon__button {
  text-transform: uppercase;
  color: white;
  width: 172px;
  height: 38px;
  border: 3px solid white;
  font-size: 20px;
  font-weight: bold;
  text-align: left;
  line-height: 1.5;
  font-family: "Saira", sans-serif;
  background-color: transparent;
  border-radius: 10px;
}
@media screen and (max-width: 960px) {
  .ribbon__button {
    font-size: 10px;
    width: 90px;
  }
}
.ribbon__button:hover, .ribbon__button:focus, .ribbon__button:active {
  background-color: white;
  color: #ff6801;
}
.ribbon__span {
  color: white;
  text-transform: uppercase;
}
@media screen and (max-width: 960px) {
  .ribbon__span {
    font-size: 10px;
  }
}
.ribbon__stretch {
  -webkit-transform: scaleX(70%);
          transform: scaleX(70%);
}

.testimonials {
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2/4;
  padding: 0 195px 30px 195px;
  margin-bottom: 30px;
}
@media screen and (max-width: 960px) {
  .testimonials {
    padding: 0;
  }
}
.testimonials__card {
  border-radius: 10px;
  padding: 20px;
  width: 267px;
  height: 292px;
  border: 5px solid #1a1a1a;
  color: white;
  margin: 0 5px;
}
.testimonials__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: rubik, sans-serif;
  font-size: 20px;
  width: 60vw;
  overflow: hidden;
}
.testimonials__h2 {
  text-align: center;
  -webkit-transform: scaleX(70%);
          transform: scaleX(70%);
  font-size: 40px;
  text-transform: uppercase;
}
.testimonials__p {
  text-align: center;
}
.testimonials__witness {
  display: block;
  text-align: center;
}
.testimonials__quote {
  width: 45px;
}
.testimonials__quote--right {
  margin-left: 170px;
}