@import url("https://use.typekit.net/rsw3bla.css");
@import url('http://fonts.cdnfonts.com/css/saira');

$base-color:#333;
$brand-color:#ff6801;
$black-color:#1a1a1a;
$rubik:rubik, sans-serif;
$saira:'Saira', sans-serif;
$colors:(
        purple:#6a37e5,
        yellow:#effd5e,
        orange:#e0773e,
        red:#c82f2e,
        green:#6ee3a5,
        blue:#0d49f5
            );
$radius:10px;
$extra:1200px;
$large:960px;
$medium:760px;
$small:480px;
$tiny:320;
$toggle-size:35px;
$toggle-classes: ("info","purple", "yellow", "orange", "red", "green", "blue","testimonial");

@mixin responsive( $size : 480px ){
  @media screen and (max-width: $size) {
    @content;
  }
}

@mixin flex($direction: row, $wrap: nowrap, $justify: flex-start, $align: stretch) {
  display: flex;
  flex-direction: $direction;
  flex-wrap: $wrap;
  justify-content: $justify;
  align-items: $align;
}

  @mixin font($size:30px,$weight:400,$align: left,$height:1.5){
  font-size:$size ;
  font-weight:$weight ;
  text-align:$align ;
  line-height:$height ;
}


@mixin toggleButton{
  visibility: hidden;
  display: inline;
    align-self: center;
    z-index: 3;
    width: $toggle-size;
    height: $toggle-size;
    background-color: $black-color;
    border-radius: calc($toggle-size/2);
    border: 2px solid rgba(200,200,200,0.5);
    &--previous{
      margin-right:calc(($toggle-size ) * -1);
    &:before {
      color: rgba(200,200,200,0.5) ;
      content: "<";
    }
    }
    &--next{
      margin-left:calc(($toggle-size ) * -1);
    &:before {
      color: rgba(200,200,200,0.5) ;
      content: ">";
    }
    }
}

@each $value in $toggle-classes{
  .#{$value}__toggle {
 @include toggleButton;
}
}    

*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
body{
  overflow-x: hidden;
    margin: 0;
    color: white;
    background-color: $base-color;
    font-family: $saira;
}
.banner {

  &__action {
    @include flex($direction:column, $justify: space-between);
    position: absolute;
    top:150px;
    left:16vw;
    width: 280px;
    height: 172px;
    @include responsive($extra){
      left:7vw;
    }
    @include responsive($large){
      background-color: rgba(0,0,0,0.5);
      left:calc(50vw - 140px);
    }
  }
  &__button {
    display: block;
    width: 100%;
    height: 63px;
    font-weight: bold;
    font-family: $saira;
    text-transform: uppercase;
    border-radius: $radius;
    &--big {
        font-size: 30px;
        color: white;
        background-color: $brand-color;
        border: 2px solid white;
    }
    &--nobg { 
        color: $brand-color;
        width:172px;
        height: 38px;
        border: 2px solid $brand-color;
        @include font($size:20px,$align:center,$height:38px);
        font-family: $rubik;
        background-color: transparent;
        border-radius: $radius;
    }
  }
  &__container {
  }
  &__h1 {
    text-align: justify;
    transform: scaleX(70%);
    @include font($size:45px,$weight:bold,$align: center,$height:45px); 
    text-transform: uppercase;
    margin:0 -55px;
  }
  &__h2 {
    padding-top: 20px;
    transform: scaleX(70%);
    font-size: 40px;
    margin:0 -85px 0 0;
    line-height: 35px;
  }
  &__img {
    width:100vw;
    height:420px;
    object-fit: cover;
    object-position: bottom;
  }
  &__info {
    @include flex($direction: column,$justify: space-between, $align: flex-end);
    position: absolute;
    top:150px;
    right:16vw;
    @include responsive($extra){
      right:7vw;
    }
    @include responsive($large){
      visibility: hidden;
    }
    &--main {
    }
  }
  &__p {
    font-family: $rubik;
    font-size: 25px;
  }
  &__stretch{
    transform: scaleX(70%);
  }
}
.features {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-column-gap:20px;
    grid-column: 2/4;
    height: 100px;
    &__box {
      display: flex;
      align-items: center;
  }
  &__img {
  }
  &__span {
  }
}
.footer {
  @include flex( $justify: space-around);
  width: 100%;
  padding: 30px 260px 0 260px;
  height: 427px;
  background-color: white;
  color: $black-color;
  &__a {
  }
  &__bank{
    max-height: 45px;
  }
  &__crypto{
    max-height: 41px;
  }
  &__container {
    width: 415px;
  }
  &__h4 {
    font-size: 20px;
    font-family: $rubik;
    margin-bottom: 15px;
  }
  &__img{
    width: 45px;
  }
  &__li {
    list-style: none;
  }
  &__logo {
    &--instagram {
      position: absolute;
      margin-left: 50px;
      bottom: -1900px;
    }
    &--twitter {
      position: absolute;
      margin-left: 15px;
      bottom: -1893px;
    }
  }
  &__p {
    font-family: $rubik;
  }
  &__sponsor {
  @include flex( $justify: space-around, $align: center);
  list-style: none;
    height:55px;
    &--last{
      padding: 0 80px;
    }
  }
  &__sponsors {
    max-width: 300px;
  }
  &__trusted{
    max-width: 210px;
  }
  &__ul {
  }
}
.games {
    margin: 30px 0;
    @include flex($direction: column, $justify: space-between);
    font-family: $rubik;
    text-transform: uppercase;
    background-color: $black-color;
    height: 1430px;
    padding: 40px 16px 60px 16px;
    border-radius: $radius;
  &--casino{grid-column: 2/3;}
  &--poker{grid-column: 3/4;}
  &__button {
    width: 185px;
    height: 44px;
    background-color: transparent;
    border-radius: $radius;
    @include font($size:1.1em,$weight:400,$align: center,$height:45px);
    align-self: center;
    font-family: $rubik;
    text-transform: uppercase;
    color: white;
    @each $key, $color in $colors{
        &--#{$key}{border: 2px solid $color;}
    }    
  }
  &__card {
    @each $key, $color in $colors{
        &--#{$key}{background-color: $color;}
    }
    min-height: 248px;
    min-width: 226px;
    max-height: 248px;
    max-width: 226px;
    overflow: hidden;
    border-radius: $radius;
    margin: 0 4px;
  }
  &__cards {
    max-width: 700px;
    overflow-x: hidden;
    @include flex($justify: space-between);
    margin-top:-20px;
    &--cutted{
        height:230px;
        overflow: hidden;
    }
  }
  &__container {
    @include flex($direction: column, $justify:space-between);
    height: 387px;
    &--black{color:$black-color}
  }
  &__description {
    @include font($size:22px,$align: center);
    padding: 0;
    color: $brand-color;
    margin:0;
  }
  &__h1 {
    @include font($size:50px,$weight:bold,$align: center,$height:40px);
    font-family: $saira;
    transform: scaleX(70%);
    height: 40px;
    margin:0 0 15px 0;
    padding: 0;
  }
  &__h3 {
    border-radius: $radius;
    border: 1px solid white;
    height: 44px;
    margin-top: 0;
    @include font($size:20px,$align: center,$height:45px);
    @each $key, $color in $colors{
        &--#{$key}{background-color: $color;}
    }
  }
  &__img{
    max-height: 165px;
    min-width: 226px;
    object-position: center;
    object-fit: cover;
  }
  &__span{
    display: block;
    text-align: center;
    line-height: 75px;
    min-width: 226px;
    min-height: 86px;
  }
  &__title{
    display: block;
    padding: 0;
    margin: 0;
  }
}
.header { 
  width: 100vw;
    z-index: 5; 
    color: white;
    padding: 0 10vw;
    @include flex($direction: row, $wrap: nowrap, $justify: space-between, $align: stretch );
  position:fixed;
  top:0;
  height: 105px;
  box-shadow: 0 8px 20px -6px black;
  background-color: $base-color;
  @include responsive($extra){
    padding: 0 3vw;
    height: 10vw;
  }
  @include responsive($extra){
    padding: 0 5vw;
  }
  &__anchor{
    font-size: 20px;
    transform: scaleX(70%);
    text-transform: uppercase;
    @include responsive($extra){
      font-size: 2vw;
    }
    @include responsive($large){
      font-size: 2.5vw;
    }
  }
  &__button {
    font-family: $saira;
    font-weight: bold;
    border:none;
    height: 38px;
    background-color: $brand-color;
    @include responsive($extra){
      height: 3vw;
    }   
    @include responsive($extra){
      height: 5vw;
    }
    &--join {
    width: 86px;
    border-radius: 38px;
    color: white;
    @include responsive($extra){
      width: 10vw;
      border-radius: 2.5vw; 
    }
    }  
    &--login {
    color: $brand-color;
    background-color: transparent;
    width: 58px;
    }
  }  
  &__container{
    flex-grow: 1;
    @include flex($justify: space-between, $align: center);
  }
  &__group{
  }
  &__img {
    margin-top: -10px;
    width:161px;
    @include responsive($extra){
      width:15vw;
    }
  }
  &__li {
    list-style:none;
  }
  &__link {
    @include font($size:20px,$weight:bold);
    color: white;
    text-decoration: none;
    font-family: $saira;
    margin: 0;
    transform: scaleX(70%);
  }
  &__nav {
  }
  &__pointer{
    transform: scaleX(70%);
    text-transform: uppercase;
    @include responsive($extra){
      font-size: 1.5vw;
    }
  }
  &__ul{
    width: 623px;
    @include flex($justify: space-between, $align: center);
    padding:0;
    @include responsive($extra){
      width: 50vw;
    }
    @include responsive($large){
      visibility: hidden;
    }
  }
}
.info {
  grid-column: 2/4;
  margin-top: calc(420px + 30px);
  margin-bottom: 30px;
  overflow-x: hidden;
    @include flex($justify: space-between);
  &__button {
    width: 161px;
    height: 36px;
    border-radius: calc($radius/2);
    background-color: transparent;
    border: 2px solid white;
    color: white;
    text-transform: uppercase;
  }
  &__container {
    @include flex($direction: column, $justify: space-between, $align: center);
    border-radius: $radius;
    padding: 30px;
    background-color: $black-color;
    min-width: 280px;
    height: 169px;
    margin:0 5px;
  }
  &__h4 {
    @include font($align: center,$weight:bold,$height:30px);
    text-transform: uppercase;
    transform: scaleX(70%);
  }
}
.main {
    display: grid;
    grid-template-columns: 190px 1fr 1fr 190px;
    grid-column-gap:20px;
}
.ribbon {
  @include flex($justify: space-between, $align: center);
  margin-top:calc(349px - 30px);
  left:0;
  width: 100%;
  height: 81px;
  padding: 0 225px;
  position: absolute;
  background-color: $brand-color;
  &__button { 
    text-transform: uppercase;
    color: white;
    width:172px;
    height: 38px;
    border: 3px solid white;
    @include font($size:20px,$weight:bold,$align: left,$height:1.5);
    font-family: $saira;
    background-color: transparent;
    border-radius: $radius;
  }
  &__span {
    color: white;
    text-transform: uppercase;
  }
  &__stretch{
    transform: scaleX(70%);
  }
}
.testimonials {
    grid-column: 2/4;
    padding: 0 195px 30px 195px;
    margin-bottom: 30px;
    &__card {
      border-radius: $radius;
      padding: 20px;
      width: 267px;
      height: 292px;
      border: 5px solid $black-color;
      color: white;
  }
  &__cards {
    @include flex( $justify: space-between, $align: center);
    font-family: $rubik;
    font-size: 20px;
  }
  &__h2 {
    text-align: center;
    transform: scaleX(70%);
    font-size: 40px;
    text-transform: uppercase;
  }
  &__p {
    text-align: center;
  }
  &__witness {
    display: block;
    text-align: center;
  }
  &__quote{
    width: 45px;
    &--right{
      margin-left: 170px;
    }
  }
}
